# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# API_KEY_1 -> https://apilayer.com/ -> получите API на данном сайте
# API_KEY_2 -> https://finnhub.io/ -> получите API на данном сайте

API_KEY_1=your_api_key_here
API_KEY_2=your_api_key_here